@font-face {
  font-family: 'AnotherDanger';
  src: url('../static/fonts/AnotherDanger.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at 30% 0, #060606, #030303 30%);
  font-family: AnotherDanger, sans-serif;
  position: relative;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 15vw;
  color: #1d1d1d;
  line-height: 20vw;
  text-align: center;
  text-shadow: 0.5vw 1vw #111111;
  text-transform: uppercase;
  transform: rotate(-5deg);
  position: relative;
  opacity: 0.3;
}

.heading > span {
  margin-left: 0.8ch;
}
